#events{

padding: 90px 60px ;
	.xet:before{
		    content: "";
	    position: absolute;
	    top: 35px;
	    left: 40px;
	    width: 40px;
	    height: 4px;
	    background: #393a3c;
	}
	.xet{
		margin-bottom: 70px;
		padding: 0px 70px;
	}
}.boxes{
	padding: 0px 50px;

.vae{
	
	background: grey;
	margin-top: 150px;
	color: white;
	border-radius: 70px;
	p{
		padding: 25px;
		text-align: center;

	}
}.arrows {
	position: relative;
	i{
		position: absolute;
	}

}
}

