@import 'header';
@import 'slider';
@import 'events';
@import 'people';
@import 'services';
@import 'books';
@import 'stories';
@import 'map';

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
